@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

/* Thèmes de couleurs pour les organisations */
[data-theme="default"] {
  --background: oklch(0.98 0.01 95.10);
  --foreground: oklch(0.34 0.03 95.72);
  --card: oklch(0.98 0.01 95.10);
  --card-foreground: oklch(0.19 0.00 106.59);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.27 0.02 98.94);
  --primary: oklch(0.62 0.14 39.04);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.92 0.01 92.99);
  --secondary-foreground: oklch(0.43 0.02 98.60);
  --muted: oklch(0.93 0.02 90.24);
  --muted-foreground: oklch(0.61 0.01 97.42);
  --accent: oklch(0.92 0.01 92.99);
  --accent-foreground: oklch(0.27 0.02 98.94);
  --destructive: oklch(0.19 0.00 106.59);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.88 0.01 97.36);
  --input: oklch(0.76 0.02 98.35);
  --ring: oklch(0.59 0.17 253.06);
  --chart-1: oklch(0.56 0.13 43.00);
  --chart-2: oklch(0.69 0.16 290.41);
  --chart-3: oklch(0.88 0.03 93.13);
  --chart-4: oklch(0.88 0.04 298.18);
  --chart-5: oklch(0.56 0.13 42.06);
  --sidebar: oklch(0.97 0.01 98.88);
  --sidebar-foreground: oklch(0.36 0.01 106.65);
  --sidebar-primary: oklch(0.62 0.14 39.04);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.92 0.01 92.99);
  --sidebar-accent-foreground: oklch(0.33 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0.77 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

[data-theme="bubblegum"] {
  --background: oklch(0.94 0.02 345.70);
  --foreground: oklch(0.47 0 0);
  --card: oklch(0.95 0.05 86.89);
  --card-foreground: oklch(0.47 0 0);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.47 0 0);
  --primary: oklch(0.62 0.18 348.14);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.81 0.07 198.19);
  --secondary-foreground: oklch(0.32 0 0);
  --muted: oklch(0.88 0.05 212.10);
  --muted-foreground: oklch(0.58 0 0);
  --accent: oklch(0.92 0.08 87.67);
  --accent-foreground: oklch(0.32 0 0);
  --destructive: oklch(0.71 0.17 21.96);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.62 0.18 348.14);
  --input: oklch(0.92 0 0);
  --ring: oklch(0.70 0.16 350.75);
}

[data-theme="nature"] {
  --background: oklch(0.97 0.01 80.72);
  --foreground: oklch(0.30 0.04 30.20);
  --card: oklch(0.97 0.01 80.72);
  --card-foreground: oklch(0.30 0.04 30.20);
  --popover: oklch(0.97 0.01 80.72);
  --popover-foreground: oklch(0.30 0.04 30.20);
  --primary: oklch(0.52 0.13 144.17);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.96 0.02 147.64);
  --secondary-foreground: oklch(0.43 0.12 144.31);
  --muted: oklch(0.94 0.01 74.42);
  --muted-foreground: oklch(0.45 0.05 39.21);
  --accent: oklch(0.90 0.05 146.04);
  --accent-foreground: oklch(0.43 0.12 144.31);
  --destructive: oklch(0.54 0.19 26.72);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.88 0.02 74.64);
  --input: oklch(0.88 0.02 74.64);
  --ring: oklch(0.52 0.13 144.17);
}

[data-theme="midnight"] {
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.32 0 0);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.32 0 0);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.32 0 0);
  --primary: oklch(0.57 0.20 283.08);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.82 0.07 249.35);
  --secondary-foreground: oklch(0.32 0 0);
  --muted: oklch(0.82 0.02 91.62);
  --muted-foreground: oklch(0.54 0 0);
  --accent: oklch(0.65 0.06 117.43);
  --accent-foreground: oklch(1.00 0 0);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.87 0 0);
  --input: oklch(0.87 0 0);
  --ring: oklch(0.57 0.20 283.08);
}

[data-theme="elegant"] {
  --background: oklch(0.98 0.00 56.38);
  --foreground: oklch(0.22 0 0);
  --card: oklch(0.98 0.00 56.38);
  --card-foreground: oklch(0.22 0 0);
  --popover: oklch(0.98 0.00 56.38);
  --popover-foreground: oklch(0.22 0 0);
  --primary: oklch(0.47 0.15 24.94);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.96 0.04 89.09);
  --secondary-foreground: oklch(0.48 0.10 75.12);
  --muted: oklch(0.94 0.01 53.44);
  --muted-foreground: oklch(0.44 0.01 73.64);
  --accent: oklch(0.96 0.06 95.62);
  --accent-foreground: oklch(0.40 0.13 25.72);
  --destructive: oklch(0.44 0.16 26.90);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.94 0.03 80.99);
  --input: oklch(0.94 0.03 80.99);
  --ring: oklch(0.47 0.15 24.94);
}

:root {
  --background: oklch(1.00 0 0);
  --foreground: oklch(0.26 0 0);
  --card: oklch(1.00 0 0);
  --card-foreground: oklch(0.26 0 0);
  --popover: oklch(1.00 0 0);
  --popover-foreground: oklch(0.26 0 0);
  --primary: oklch(0.33 0 0);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.98 0 0);
  --secondary-foreground: oklch(0.33 0 0);
  --muted: oklch(0.98 0 0);
  --muted-foreground: oklch(0.65 0 0);
  --accent: oklch(0.98 0 0);
  --accent-foreground: oklch(0.33 0 0);
  --destructive: oklch(0.62 0.21 25.77);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.94 0 0);
  --input: oklch(0.94 0 0);
  --ring: oklch(0.77 0 0);
  --chart-1: oklch(0.82 0.13 84.49);
  --chart-2: oklch(0.80 0.11 203.60);
  --chart-3: oklch(0.42 0.17 266.78);
  --chart-4: oklch(0.92 0.08 125.58);
  --chart-5: oklch(0.92 0.10 116.19);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.26 0 0);
  --sidebar-primary: oklch(0.33 0 0);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.98 0 0);
  --sidebar-accent-foreground: oklch(0.33 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0.77 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: oklch(0.14 0.00 285.82);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.14 0.00 285.82);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.14 0.00 285.82);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.98 0 0);
  --primary-foreground: oklch(0.21 0.01 285.88);
  --secondary: oklch(0.27 0.01 286.03);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.27 0.01 286.03);
  --muted-foreground: oklch(0.71 0.01 286.07);
  --accent: oklch(0.27 0.01 286.03);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.40 0.13 25.72);
  --destructive-foreground: oklch(0.97 0.01 17.38);
  --border: oklch(0.27 0.01 286.03);
  --input: oklch(0.27 0.01 286.03);
  --ring: oklch(0.87 0.01 286.29);
  --chart-1: oklch(0.53 0.19 262.13);
  --chart-2: oklch(0.70 0.13 165.46);
  --chart-3: oklch(0.72 0.15 60.63);
  --chart-4: oklch(0.62 0.20 312.73);
  --chart-5: oklch(0.61 0.21 6.39);
  --sidebar: oklch(0.21 0.01 285.88);
  --sidebar-foreground: oklch(0.97 0.00 286.38);
  --sidebar-primary: oklch(0.49 0.22 264.39);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.27 0.01 286.03);
  --sidebar-accent-foreground: oklch(0.97 0.00 286.38);
  --sidebar-border: oklch(0.27 0.01 286.03);
  --sidebar-ring: oklch(0.87 0.01 286.29);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
















@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utils {
  .text-gradient {
    @apply bg-clip-text text-transparent;
  }

  .bg-grid {
    --bg-grid-color: hsl(0 0% 100% / 0.1);
    background-color: transparent; /* Couleur de fond */
    background-image:
      linear-gradient(90deg, var(--bg-grid-color) 1px, transparent 1px),
      linear-gradient(180deg, var(--bg-grid-color) 1px, transparent 1px);
    background-size: 64px 64px; /* Taille de la grille */
  }
}

/* Other styles */

.citation {
  position: relative;
  display: inline-block;
  padding: 4px;
  border-radius: 0.5rem;
  color: var(--foreground);
  font-style: italic;
  --gap: -16px;
}

.citation::before {
  content: "“";
  font-size: 3rem;
  position: absolute;
  top: -12px;
  left: -12px;
  line-height: 1;
  color: hsl(var(--primary));
}

.citation::after {
  content: "”";
  font-size: 3rem;
  position: absolute;
  bottom: -16px;
  right: -4px;
  line-height: 1;
  color: hsl(var(--primary));
}

.citation strong {
  font-weight: 700;
  background: hsl(var(--primary) / 0.5);
  display: inline;
  padding: 2px;
  margin: -2px;
}

.dot-pattern {
  background-color: var(--dot-background);
  opacity: 0.8;
  background-image: radial-gradient(
    var(--dot-color) 0.5px,
    var(--dot-background) 0.5px
  );
  background-size: var(--size, 10px) var(--size, 10px);
}

.prose {
  scroll-margin-top: 40px;

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    position: relative;
    scroll-margin-top: 70px;

    &:hover {
      & .icon-link {
        opacity: 1;
      }
    }
  }

  & .icon.icon-link {
    width: 20px;
    height: 100%;
    display: block;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -24px;

    opacity: 0;
    transition: opacity 0.2s ease;
    &::before {
      content: "#";
      font-size: 1.5rem;
      color: hsl(var(--primary));
    }
  }
}
